[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/zsh-auto-notify"]
	path = zsh/zsh-auto-notify
	url = git@github.com:MichaelAquilina/zsh-auto-notify.git
[submodule "zsh/zsh-you-should-use"]
	path = zsh/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "fonts/SF-Mono-Nerd-Font"]
	path = fonts/SF-Mono-Nerd-Font
	url = git@github.com:epk/SF-Mono-Nerd-Font.git
