[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/zsh-auto-notify"]
	path = zsh/zsh-auto-notify
	url = git@github.com:MichaelAquilina/zsh-auto-notify.git
[submodule "zsh/zsh-you-should-use"]
	path = zsh/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "fonts/SF-Mono-Nerd-Font"]
	path = fonts/SF-Mono-Nerd-Font
	url = git@github.com:epk/SF-Mono-Nerd-Font.git
[submodule "tmux/plugins/nord-tmux"]
	path = tmux/plugins/nord-tmux
	url = git@github.com:nordtheme/tmux.git
[submodule "tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/plugins/tmux-better-mouse-mode
	url = git@github.com:NHDaly/tmux-better-mouse-mode.git
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-fuzzback"]
	path = tmux/plugins/tmux-fuzzback
	url = git@github.com:roosta/tmux-fuzzback.git
[submodule "fzf/fzf-git.sh"]
	path = fzf/fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
